<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_TARGET} ^/index\.php [NC]
    RewriteRule ^ - [L]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteRule ^ /index.php [L]
</IfModule>
